body {
  font-family: Roboto;
  font-size: 16px;
  color: #efefef;
}

.container {
  width: 1024px;
  margin: auto auto;
}

section {
  background-color: white;
  padding: 60px 30px;
  border-radius: 20px;
}

p {
  line-height: 22px;
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 22px;
}

header {
  height: 80px;
  background-color: white;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #f3735f;
}

img.logo {
  width: 200px;
}
